body{
  background-color: #322a1f;
  color: #DCCDCB;
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Xanh Mono';
}

p{
  font-family: 'Merriweather';
}

.navgation{
  text-align: center;
  word-spacing: 100px;
  padding: 20px;
  background-color: black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: auto;
  width: 80%;

}

.navgation a{
  font-family: 'Merriweather';
  color: inherit;
  text-decoration: none;
  white-space: pre-line;
}

.navgation a:hover{
  text-decoration: underline;
  color: gray;
}
.background {

  background-image: url("../media/pic1.jpg");


  /* Half height */
  height: 50%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.Transparency{
  background-image: linear-gradient(to left, rgba(37, 35, 35, 0), rgb(0, 0, 0));
}

.name{

  text-align: center;
  padding: 100px;
  font-size: 50px;
  width: 550px;
  height: 340px;

}

.name p,
.closure p{
  text-align: center;
  font-family: 'Xanh Mono';
  font-size: 20px;
}

.name button{
  border-radius: 30px;
  font-family: 'Xanh Mono';
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 3px solid #33241c;

}

.name button:hover{
  background-color: #2a1c15;
  color: white;

}
#aboutcoffee{
  text-align: center;
  color: #d0b69a;
  font-size: 20px;
}
.articals{
  display: flex;
}

hr{
  border: none;
  border-top: 1px solid;
  /* or bottom */
  margin: 1em auto;
  /* 15% or whatever fixed or % value that suits your needs*/
  width: 5em;
}


.espresso,
.drip,
.recommendations{
  
  width: 320px;
  color: #d0b69a;
  text-align: justify;
  height: 350px;
  margin-left: 150px;
  margin-top: 50px;
}
.espresso img,
.drip img,
.recommendations img{
  width: 250px;
  height: 300px;
}
.espresso p,
.drip p,
.recommendations p{
  font-size: 12px;

}

.espresso a,
.drip a,
.recommendations a{
  border: none;
  background-color: inherit;
  width: 300px;
  color: #d0b69a;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
  text-decoration:none;


}


.espresso a:hover,
.drip a:hover,
.recommendations a:hover{
  color: rgb(25, 21, 16);
  text-decoration:none;


}
.closure {
  margin-top: 180px;
  background-image: url("../media/cubscoffee.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.closure div{
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 100px;
  font-size: 25px;

 
}


@media screen and (max-width: 577px) {
  .background{
    width: 1350px;
  }
  hr{
    border: none;
    border-top: 1px solid;
    /* or bottom */
    margin: 1em auto;
    /* 15% or whatever fixed or % value that suits your needs*/
    width: 1350px;
  }
  #aboutcoffee{
    width: 1350px;

  }
  .closure{
    width: 1350px;
  }
  .espresso,.drip,.recommendations{
    margin-left: 130px;
  }
  
}
@media screen and (max-width: 993px){
  
  .background{
    width: 1350px;
  }
  hr{
    border: none;
    border-top: 1px solid;
    margin: 1em auto;
    width: 1350px;
  }
  #aboutcoffee{
    width: 1350px;

  }
  .closure{
    width: 1350px;
  }
  .espresso,.drip,.recommendations{
    margin-left: 130px;
  }
}
@media screen and (max-width: 787px){

    .background{
      width: 1350px;
    }
    hr{
      border: none;
      border-top: 1px solid;
      margin: 1em auto;
      width: 1350px;
    }
    #aboutcoffee{
      width: 1350px;
  
    }
    .closure{
      width: 1350px;
    }
    .espresso,.drip,.recommendations{
      margin-left: 130px;
    }
    
}