body{
background-color:  #493C2D;
color: #DCCDCB;
margin: 0;
}
header{
    font-family:"Fugaz One";
    position: relative;
    top:0px;
}
/*NavBar*/
.navbar a{
    font-family:'Merriweather';
    color: inherit;
    text-decoration:none; 
    white-space: pre-line;
}
.navbar a:hover{
    text-decoration:underline;
    color: gray;
}
.navbar{
    text-align: center; 
    word-spacing: 100px ;
    padding: 20px;
    background-color: black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: auto;
    width: 80%;
    
}
h1{
    font-family:'Xanh Mono';
}
#Beaniac{
      background:url("/media/coffeee.jpg") ;
      height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
       background-size: cover;
       
}
.Aboutus{
    background: rgba(0,0,0,0.7); 
    border-top-left-radius:25px ;
    text-align: center;
    padding:100px;
    font-size: 50px;
    width: 600px;
    height: 340px;
    --mask:
    radial-gradient(72.84px at calc(100% - 102.90px) 50%,#000 99%,#0000 101%) 0 calc(50% - 98px)/100% 196px,
    radial-gradient(72.84px at calc(100% + 53.90px) 50%,#0000 99%,#000 101%) calc(100% - 49px) 50%/100% 196px repeat-y;
    -webkit-mask: var(--mask);
     mask: var(--mask);
     font-family:'Xanh Mono';
          
}
.Aboutus p{
    font-size: 30px; 
}
/*Table */

#developers{
    text-align: center;
    position: relative;
    top:20px;
    color: #d0b69a;
}

#developers p{
font-size: 25px;
}

table{
    border: 0;
    text-align: justify;
    font-size: 20px;
    padding: 3%;
    margin: 0 auto;
    line-height: 50px;
    width: 65%;
    padding-bottom: 5%;
     font-family: 'Merriweather';
    position: absolute;
    font-size: large;
    padding: 30px;
    margin-top: 1%;
    margin-left: 17%;
    margin-right: 5%;
    margin-bottom: 1%;
    background-color: #493C2D;
    box-shadow: 0 5px 25px rgba(1 1 1/ 90%);
    border-radius: 10px;
    border: 3px dashed rgba(1 1 1/ 50%);
}
td a{
    text-decoration: none;
    color: #d0b69a;

}
td{
    color: #d0b69a;
}
tr:hover td {
  
    text-decoration:underline;
    color: #000;
    
}
tr:hover a {
    text-decoration:underline;
    color: #000;
}



@media (max-width: 576px) {
    .navbar {
        word-spacing: 30px;
        width: 100%;
    }

    .Aboutus {
        font-size: 25px;
        padding: 30px;
        width: 100%;
    }
    
.Aboutus p{
    font-size: 20px; 
}

    table {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
        padding: 20px;
        font-size: 15px;
    }
    #Beaniac{
      height: 100%; 
      width: 100%;
    }
}


@media (max-width: 786px){
    
    table {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
        padding: 20px;
        font-size: 18px;
    }
}


@media (max-width: 992px){
    table {
        width: 95%;
        margin-left: 2%;
        margin-right: 2%;
        padding: 20px;
        font-size: 20px;
    }
}